.add-Transaction1{
    color: #FFF;
font-family: Inter;
line-height: normal;
border-radius: 10px;
background-color: #2D60FF;
font-size: 12px;
font-style: normal;
font-weight: 480;
text-align: center;
border-style: "none";
}
